html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: #333;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: mediumaquamarine;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: aqua;
}

select {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid mediumaquamarine;
  border-radius: 2px;
  position: absolute;
  left: 300px;
  top: 25px;
}

canvas {
  margin: 0 auto;
  box-shadow: 10px 10px 0px mediumaquamarine;
}
